.calm {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Work Sans", serif;
  color: white;
  background-position: center;
  overflow: hidden;
}

.mute-button {
  right: 0;
}

.calendar-menu {
  position: absolute;
  top: 0;
  left: 0;
}

.cc {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
}

img {
  height: 100vh;
  width: 100vw;
  opacity: 1;
  transition-duration: 0.5s;
}
